{
  "extends": ["plugin:prettier/recommended"],
  "plugins": ["unused-imports"],
  "rules": {
    "prettier/prettier": "error",
    "@typescript-eslint/no-unused-vars": "off",
    "unused-imports/no-unused-imports": "error"
  }
}